flows.json
[
    {
        "id": "28764a00d5053b9a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c8318828887590e",
        "type": "aedes broker",
        "z": "28764a00d5053b9a",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "3c081f49fba2e0c6"
            ],
            [
                "168302279226a811"
            ]
        ]
    },
    {
        "id": "3c081f49fba2e0c6",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "Broker Status Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "168302279226a811",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "Broker Publish Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "bb2086d4fb4aea72",
        "type": "decode",
        "z": "28764a00d5053b9a",
        "name": "",
        "protofile": "d47cb79136f53d02",
        "protoType": "ServiceEnvelope",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "4b50331791abdd87",
                "4b10f7d6827b4f69",
                "8a61ae005376c33a",
                "f2ad2666780b8943"
            ]
        ]
    },
    {
        "id": "4b50331791abdd87",
        "type": "json-2-csv",
        "z": "28764a00d5053b9a",
        "name": "",
        "x": 980,
        "y": 240,
        "wires": [
            [
                "068e12f669e7f3d9",
                "6025afe3b5d6628c"
            ]
        ]
    },
    {
        "id": "068e12f669e7f3d9",
        "type": "file",
        "z": "28764a00d5053b9a",
        "name": "",
        "filename": "/home/luka/rdtm/meshData.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc2469201725bf",
        "type": "mqtt in",
        "z": "28764a00d5053b9a",
        "name": "",
        "topic": "msh/2/e/RDTM/!8fd51289",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b6aece652b8e0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e61b171f9efb588b",
                "ca531cdb88e5fe1f"
            ]
        ]
    },
    {
        "id": "6025afe3b5d6628c",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "3) converted payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 280,
        "wires": []
    },
    {
        "id": "e61b171f9efb588b",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "1) Message from node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "4b10f7d6827b4f69",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "2) decoded payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a61ae005376c33a",
        "type": "function",
        "z": "28764a00d5053b9a",
        "name": "function 1",
        "func": "msg.payload = msg.payload.packet.decoded.payload;\n\nlet bufferObj = Buffer.from(msg.payload, \"base64\");\nmsg.payload = bufferObj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 200,
        "wires": [
            [
                "1e58db838a5359cf",
                "2b7f7bb185eb8581"
            ]
        ]
    },
    {
        "id": "1e58db838a5359cf",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "4) debug message out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "f2ad2666780b8943",
        "type": "decode",
        "z": "28764a00d5053b9a",
        "d": true,
        "name": "",
        "protofile": "b6cf53a23b95f678",
        "protoType": "rdtmmetrics",
        "x": 940,
        "y": 160,
        "wires": [
            [
                "a3520a0d2e791106"
            ]
        ]
    },
    {
        "id": "a3520a0d2e791106",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "TEST two stage decode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "6ace2c92285a9dd3",
        "type": "inject",
        "z": "28764a00d5053b9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[10,129,1,13,126,248,180,186,21,255,255,255,255,34,87,8,128,2,18,80,8,254,240,211,213,251,255,255,255,255,1,16,177,2,42,30,0,50,50,50,0,0,0,0,0,0,0,0,0,0,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,30,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,56,14,24,1,53,36,27,84,99,61,43,27,107,102,69,0,0,208,64,72,7,96,232,255,255,255,255,255,255,255,255,1,120,7,18,4,82,68,84,77,26,9,33,56,102,100,53,49,50,56,57]",
        "payloadType": "bin",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "61bb363317e16fab",
                "181950d14803531e"
            ]
        ]
    },
    {
        "id": "61bb363317e16fab",
        "type": "decode",
        "z": "28764a00d5053b9a",
        "name": "",
        "protofile": "06cbac8c974db4c8",
        "protoType": "rdtmmetrics",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "5fd75f5f441c3f1e"
            ]
        ]
    },
    {
        "id": "5fd75f5f441c3f1e",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "181950d14803531e",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "2b7f7bb185eb8581",
        "type": "decode",
        "z": "28764a00d5053b9a",
        "name": "",
        "protofile": "b6cf53a23b95f678",
        "protoType": "rdtmmetrics",
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "9e872caeca672c75"
            ]
        ]
    },
    {
        "id": "9e872caeca672c75",
        "type": "debug",
        "z": "28764a00d5053b9a",
        "name": "decode after function to convert to buffer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 180,
        "wires": []
    },
    {
        "id": "b389736b15b5c729",
        "type": "inject",
        "z": "28764a00d5053b9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[98,39,92,120,48,56,92,120,102,101,92,120,102,48,92,120,100,51,92,120,100,53,92,120,102,98,92,120,102,102,92,120,102,102,92,120,102,102,92,120,102,102,92,120,48,49,92,120,49,48,92,120,102,98,42,42,92,120,49,101,92,120,48,48,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,92,120,49,101,92,120,48,50,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,92,120,48,48,56,92,120,49,49,39]",
        "payloadType": "bin",
        "x": 950,
        "y": 100,
        "wires": [
            [
                "2b7f7bb185eb8581"
            ]
        ]
    },
    {
        "id": "ca531cdb88e5fe1f",
        "type": "switch",
        "z": "28764a00d5053b9a",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "140",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "140",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "bb2086d4fb4aea72"
            ],
            []
        ]
    },
    {
        "id": "d47cb79136f53d02",
        "type": "protobuf-file",
        "protopath": "/home/luka/rdtm/firmware/protobufs/meshtastic/mesh.proto,/home/luka/rdtm/firmware/protobufs/meshtastic/mqtt.proto,/home/luka/rdtm/firmware/protobufs/meshtastic/portnums.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "1b6aece652b8e0d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6cf53a23b95f678",
        "type": "protobuf-file",
        "protopath": "/home/luka/rdtm/firmware/protobufs/meshtastic/rdtmtelemetry.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "06cbac8c974db4c8",
        "type": "protobuf-file",
        "protopath": "/home/luka/rdtm/firmware/protobufs/meshtastic/mesh.proto,/home/luka/rdtm/firmware/protobufs/meshtastic/mqtt.proto,/home/luka/rdtm/firmware/protobufs/meshtastic/portnums.proto,/home/luka/rdtm/firmware/protobufs/meshtastic/rdtmtelemetry.proto",
        "watchFile": true,
        "keepCase": false
    }
]
